.gallery {
    min-height: 100vh;
    height: auto;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    background-color: white;
 
    
}

.photos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0%;
    min-height: 100vh;
    height: auto;
   margin-top: 5vh;
   padding-left: 5vw;
}

.item {
    margin-left: 3vw;
}

.block {
    display: flex;
}